<div id="main" role="main">
	<div class="row">
        <%- include ../../partials/chat/form.ejs %>
    </div>
    <div class="row">
    	<%- include ../../partials/chat/messages.ejs %>
    </div>
</div>