<form action="/api/v1/chat/" method="post" class="form-inline">
    <div class="form-group msg-input-group">
    	<label class="sr-only" for="message">Message</label>
        <input name="message" id="message" autocomplete="off" placeholder="Write a message" class="form-control msg-input-control">
    </div>
    <div class="form-group msg-submit-group">
        <button type="submit" class="btn btn-primary msg-submit-btn">Send</button>
    </div>
</form>